html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}
body {
    margin: 0;
}
header {
    text-align: center;
    margin-top: -15px;
}
.logo{
    width: 200px;
    margin: 1.5em;
}
.subtitle {
    background-color: #FDFBF1;
    border-top: 2px solid #FEE9B3;
    align-content: center;
    color: #094F4F;
}
.subtitle p {
    font-size: 0.8em;
}
#content {
    width: 50vw;
    margin: 0 auto;
}
h1.title{
    text-align: center;
}
.video{
    width: 100%;
    border-radius: 2%;
    box-shadow: 5px 5px 8px #DDE0E3;
}
.vDesc {
    text-align: center;
    color: #A0A0A0;
}
#linkVid {
    color: #B34007;
    border-left: 2px solid #FFE093 ;
    padding-left: 10px;
}
a {
    color: #016F6F;
}

section h2 {
    font-weight: normal;
}
section hr{
    border: 1px solid #D1F6F5;
}
li {
    margin-bottom: 1.5em;
}
